@mixin font-reg {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

@mixin font-bold {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

@mixin outline {
  text-shadow: -1px -1px 0 $secondary, 1px -1px 0 $secondary, -1px 1px 0 $secondary, 1px 1px 0 $secondary;
  color: $primary;
  -webkit-font-smoothing: antialiased;
}

