@import "./themes/theme";

@media screen and (min-width: 921px) {
  #contact-main-container {
    & #contact-greeting {
      & h1 {
        @include font-bold;
        font-size: 2em;
        & a {
          text-decoration: none;
          @include outline;

          &:hover {
            color: $secondary;
            text-shadow: none;
          }
        }
      }
    }
    & .contact-page-container {
      & h1 {
        @include font-bold;
        font-size: 3.8em;
        margin-top: 1.5em;
        & a {
          text-decoration: none;
          @include outline;

          &:hover {
            color: $secondary;
            text-shadow: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 920px) {
  #contact-main-container {
    height: 100vh;
    & h1 {
      @include font-bold;
      font-size: 35px;
      & a {
        text-decoration: none;
        @include outline;

        &:hover {
          color: #788878;
          text-shadow: none;
          cursor: pointer;
        }
      }
    }
    & #contact-first {
      margin-top: 3em;
      margin-bottom: 0em;
    }
    & .contact-page-container {
      margin-top: 2em; 
      & h1 {
        @include font-bold;
        font-size: 35px; 
      }
    }
  }
}
