@import "./themes/theme";

@media screen and (min-width: 921px) {
  #contact-main-container {
    position: relative;
    width: 100%;
    margin: 0 20%;
    max-width: 960px;
    & #contact-greeting {
      & h1 {
        @include font-bold;
        font-size: 55px;
        & a {
          text-decoration: none;
          @include outline;

          &:hover {
            color: $secondary;
            text-shadow: none;
          }
        }
      }
    }
    & .contact-page-container {
      & h1 {
        @include font-bold;
        font-size: 55px;
        margin-top: 1.5em;
        & a {
          text-decoration: none;
          @include outline;

          &:hover {
            color: $secondary;
            text-shadow: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 920px) {
  #contact-main-container {
    height: auto;
    & h1 {
      @include font-bold;
      font-size: 35px;
      & a {
        text-decoration: none;
        @include outline;

        &:hover {
          color: black;
          text-shadow: none;
          cursor: pointer;
        }
      }
    }
    & #contact-first {
      margin-top: 3em;
      margin-bottom: 0em;
      margin-left: 6.5%;
    }
    & .contact-page-container {
      margin-top: 2em; 
      margin-left: 6.5%;
      & h1 {
        @include font-bold;
        font-size: 35px; 
      }
    }
  }
}
