@import "./themes/theme";

@media screen and (min-width: 921px) {
  #contact-main-container {
    & #contact-greeting {
      & h1 {
        @include font-bold;
          font-size: 2em;
        & a {
          text-decoration: none;
          @include outline;
  
          &:hover {
            color: $secondary;
            text-shadow: none;
          }
        }
      }
    }
    & .contact-page-container {
      & h1 {
        @include font-bold;
          font-size: 3.8em;
          margin-top: 1.5em;
        & a {
          text-decoration: none;
          @include outline;
  
          &:hover {
            color: $secondary;
            text-shadow: none;
          }
          
        }
      }
      & span {
        @include outline;
        &:hover {
          color: #788878;
          text-shadow: none;
          cursor: none;
        }
      }
    }
  }
}

@media screen and (max-width: 920px) {
  & h1 {
    & a {
      text-decoration: none;
      @include outline;

      &:hover {
        color: #788878;
        text-shadow: none;
        cursor: pointer;
      }
    }
  }
  & .contact-page-container {
    margin-top: 8em;

    & h1 {
      @include font-bold;
      font-size: 3em;
    }
  }
}
