@import "./themes/theme";

@media screen and (min-width: 921px) {
  .main-container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;

    & .greetings-container {
      @include font-bold;
      font-size: 2em;
      height: 7em;
      cursor: default;

      & span {
        @include outline;
        &:hover {
          color: #788878;
          text-shadow: none;
        }
      }
    }

    & .description {
      @include font-reg;
      font-size: 2em;
      height: 8em;
      cursor: default;

      & span {
        @include outline;
        &:hover {
          color: #788878;
          text-shadow: none;
        }
      }
    }
    & .column-of-work {
      display: flex;
      flex-direction: column;

      & a {
        text-decoration: none;
      }

      & .singular-work-container {
        height: 15em;

        & h2 {
          @include font-bold;
          color: $secondary;
        }
        & p {
          color: $tertiary;
          @include font-reg;
          font-size: 0.9em;
        }
      }
    }
  }
  .link-icons {
    display: flex;
    justify-content: space-between;
    width: 3em;
    
    & a {
      color: black;
    }
  }
}

@media screen and (max-width: 920px) {
  .main-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 0 20px;

    & .greetings-container {
      @include font-bold;
      font-size: 1.6em;
      height: 12em;
      cursor: default;

      & span {
        @include outline;
        &:hover {
          color: #788878;
          text-shadow: none;
        }
      }
    }

    & .description {
      @include font-reg;
      font-size: 1.5em;
      height: 11em;
      cursor: default;

      & span {
        @include outline;
        &:hover {
          color: #788878;
          text-shadow: none;
        }
      }
    }
    & .column-of-work {
      display: flex;
      flex-direction: column;

      & a {
        text-decoration: none;
      }

      & .singular-work-container {
        height: 11.5em;

        & h2 {
          @include font-bold;
          color: $secondary;
        }
        & p {
          color: $tertiary;
          @include font-reg;
          font-size: 0.9em;
        }
      }
    }
  }
  .link-icons {
    display: flex;
    justify-content: space-between;
    width: 3em;
    
    & a {
      color: black;
    }
  }
}

