@import "./themes/theme";

@media screen and (min-width: 921px) {
  .main-container {
    position: relative;
    width: 100%;
    .greetings-container {
      @include font-bold;
      font-size: 2em;
      height: auto;
      cursor: default;

      span {
        @include outline;
        &:hover {
          color: black;
          cursor: default;
          text-shadow: none;
        }
      }
    }

    .description {
      @include font-reg;
      font-size: 2em;
      height: auto;
      cursor: default;

      span {
        @include outline;
        &:hover {
          color: black;
          cursor: default;
          text-shadow: none;
        }
      }
    }
    .column-of-work {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
      }

      .singular-work-container {
        height: auto;
        margin-top: 5%;

        h2 {
          @include font-bold;
          color: $secondary;
          width: 40%;
          &:hover {
            color: grey;
          }
        }
        p {
          color: $tertiary;
          @include font-reg;
          font-size: 0.9em;
        }
      }
    }
  }
  .link-icons {
    display: flex;
    justify-content: space-between;
    width: 3em;

    a {
      color: black;
    }
  }
}

@media screen and (max-width: 920px) {
  #home-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    .greetings-container {
      @include font-bold;
      margin-top: 1em;
      font-size: 1.6em;
      height: 5em;
      cursor: default;
      padding: 0 1em;

      span {
        @include outline;
        &:hover {
          color: black;
          cursor: default;
          text-shadow: none;
        }
      }
    }

    .description {
      @include font-reg;
      font-size: 1.5em;
      height: 11em;
      cursor: default;
      margin-top: 8em;
      padding: 0 1em;

      span {
        @include outline;
        &:hover {
          color: black;
          cursor: default;
          text-shadow: none;
        }
      }
    }
    .column-of-work {
      display: flex;
      flex-direction: column;
      padding: 0 1.5em;

      a {
        text-decoration: none;
      }

      .singular-work-container {
        height: auto;

        h2 {
          @include font-bold;
          color: $secondary;
        }
        p {
          color: $tertiary;
          @include font-reg;
          font-size: 0.8em;
        }
      }
    }
  }
  .link-icons {
    display: flex;
    justify-content: space-between;
    width: 3em;

    a {
      color: black;
    }
  }
}
