@import "./themes/theme";

@media screen and (min-width: 921px) {
  #project-container {
    padding: 0 15%;
    .img-descriptions,
    .vid-descriptions {
      margin-bottom: 7%;
    }
    p {
      font-size: 14px !important;
      @include font-reg;
      letter-spacing: 0.75px;
      line-height: 30px;
    }
    .nav-container {
      padding: 0 8%;
    }
    .project-title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      h1 {
        font-size: 36px;
        @include font-reg;
        margin-bottom: 0;
      }
    }
    .project-overview {
      @include center;
      flex-direction: column;
      #quick-description {
        margin-top: 1.5%;
      }
      #quick-summary {
        margin-top: 3%;
        padding: 0 15% !important;
      }
      div {
        margin-top: 3%;
        background-color: lightgrey;
        padding: 5%;
        img {
          width: 100%;
        }
      }
      .img-descriptions {
        font-size: 8px;
        width: 100%;
        justify-self: flex-start;
        color: grey;
      }
    }
    #summary-container {
      @include center;
      flex-direction: column;
      h1 {
        font-size: 36px;
        @include font-reg;
        margin-bottom: 3%;
      }
      #summary-detail-container {
        flex-direction: column;
        div {
          @include center;
          display: flex;
          flex-direction: row;
          width: 100%;
          margin-bottom: 3%;
          .first-col,
          .second-col {
            display: flex;
            width: 50%;
            align-items: center;
            margin-top: 0;
          }
          .first-col {
            justify-content: flex-end;
            padding-right: 2%;
            font-size: 24px !important;
            color: darkgrey;
          }
          .second-col {
            justify-content: flex-start;
            padding-left: 2%;
            margin-bottom: 1.5%;
          }
        }
      }
    }
    #design-process {
      display: flex;
      flex-direction: column;
      width: inherit;
      h1 {
        @include font-reg;
        font-size: 36px;
        margin-bottom: 3%;
        margin-top: 3%;
        text-align: center;
      }
      img {
        width: 100%;
      }
      .design_process_text {
        margin-top: 3%;
      }
    }
    #user-research {
      @include center;
      flex-direction: column;
      h1 {
        font-size: 36px;
        @include font-reg;
        margin-bottom: 3%;
        margin-top: 6%;
      }
      .research_point,
      .quote_explanation {
        width: 100%;
        justify-self: flex-start;
      }
      .quote {
        @include font-reg;
        color: darkgrey;
        font-size: 36px;
        width: 100%;
        justify-self: flex-start;
      }
      .subtitle {
        @include font-reg;
        color: darkgrey;
        font-size: 24px;
        justify-self: flex-start;
        width: 100%;
      }
      #takeaway-container {
        background-color: lightgrey;
        margin-top: 3%;
        padding: 3% 8%;
        @include center;
      }
      .img-descriptions,
      .vid-descriptions {
        font-size: 8px;
        width: 100%;
        justify-self: flex-start;
        color: grey;
      }
      ul {
        @include font-reg;
        font-size: 18px;
        letter-spacing: 0.75px;
        line-height: 30px;
        li {
          margin: 50px 0;
        }
      }
    }
    #style-guide {
      @include center;
      flex-direction: column;
      h1 {
        font-size: 36px;
        @include font-reg;
        margin-bottom: 3%;
        margin-top: 6%;
      }
      .subtitle {
        @include font-reg;
        color: darkgrey;
        font-size: 24px;
        justify-self: flex-start;
        width: 100%;
      }
      img {
        width: 100%;
      }
      .vid-container {
        width: 100%;
        background-color: lightgrey;
        padding: 5%;
        img,
        video {
          width: 100%;
        }
        video {
          border: lightgrey 1px solid;
        }
        .mobile-video {
          max-height: 500px;
        }
      }
      #dollface_low_fidelity {
        margin-top: -8%;
      }
      .img-descriptions,
      .vid-descriptions {
        font-size: 8px;
        width: 100%;
        justify-self: flex-start;
        color: grey;
      }
    }
    .lessons_learned {
      @include center;
      flex-direction: column;
      h1 {
        font-size: 36px;
        @include font-reg;
        margin-bottom: 3%;
        margin-top: 6%;
      }
      .comparison-container {
        display: flex;
        width: 110%;
        justify-content: space-between;
        align-items: flex-end;
        div {
          display: flex;
          flex-direction: column;
          margin: 2%;

          img {
            border: lightgrey 1px solid;
          }
        }
      }
    }
    .project_links {
      @include center;
      flex-direction: column;
      margin-top: 6%;
      h1 {
        font-size: 36px;
        @include font-reg;
        margin-bottom: 3%;
        margin-top: 6%;
      }
      a {
        text-decoration: none;
        color: grey;
        :hover {
          color: black;
        }
        p {
          font-size: 24px !important;
          text-align: center;
        }
      }
    }
    .bottom-nav {
      margin-top: 8%;
      border-top: 1px solid black;
      display: flex;
      width: 100%;
      height: 100px;
      justify-content: space-between;
      align-items: center;
      .top-button,
      .prev-button,
      .next-button {
        cursor: pointer;
        text-decoration: none;
        background: transparent;
        border: none;
        color: black;
        outline: none;
        :hover {
          color: grey;
        }
      }
      .prev-button,
      .next-button {
        width: 20%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  #project-container {
    .img-descriptions,
    .vid-descriptions {
      margin-bottom: 7%;
    }
    p {
      font-size: 13px !important;
      @include font-reg;
      letter-spacing: 0.75px;
      line-height: 25px;
    }
    .project-title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      margin-top: 10%;
      h1 {
        font-size: 24px;
        @include font-reg;
        margin-bottom: 2%;
      }
    }
    .project-overview {
      @include center;
      flex-direction: column;
      padding: 5%;
      #quick-description {
        margin-top: -5%;
        text-align: center;
      }
      #quick-summary {
        margin-top: 3.5%;
      }
      div {
        margin-top: 3%;
        background-color: lightgrey;
        padding: 5%;
        img {
          width: 100%;
        }
      }
      .img-descriptions {
        font-size: 7px;
        width: 100%;
        justify-self: flex-start;
        color: grey;
      }
    }
    #summary-container {
      @include center;
      flex-direction: column;
      h1 {
        font-size: 24px;
        @include font-reg;
        margin-bottom: 3%;
        margin-top: 10%;
      }
      #summary-detail-container {
        flex-direction: column;
        padding: 5%;
        div {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 3%;
          .first-col,
          .second-col {
            display: flex;
            width: 100%;
            align-items: center;
            margin-top: 0;
          }
          .first-col {
            justify-content: flex-start;
            padding-right: 2%;
            font-size: 20px !important;
            color: darkgrey;
          }
          .second-col {
            justify-content: flex-start;
            margin-bottom: 2%;
          }
        }
      }
    }
    #design-process {
      display: flex;
      flex-direction: column;
      padding: 5%;
      h1 {
        @include font-reg;
        font-size: 28px;
        margin-bottom: 3%;
        margin-top: 5%;
        text-align: center;
      }
      img {
        margin-top: 5%;
        width: 100%;
        height: auto;
      }
      .design_process_text {
        margin-top: 8%;
      }
    }
    #user-research {
      @include center;
      flex-direction: column;
      padding: 5%;
      h1 {
        font-size: 28px;
        @include font-reg;
        margin-bottom: 3%;
        margin-top: 6%;
      }
      .quote {
        @include font-reg;
        color: darkgrey;
        font-size: 28px;
      }
      .subtitle {
        @include font-reg;
        color: darkgrey;
        font-size: 20px;
        justify-self: flex-start;
        width: 100%;
      }
      #takeaway-container {
        background-color: lightgrey;
        margin-top: 3%;
        padding: 3% 10%;
        @include center;
      }
      ul {
        @include font-reg;
        font-size: 15px;
        letter-spacing: 0.75px;
        line-height: 30px;
        li {
          margin: 25px 0 25px 0;
        }
      }
    }
    #style-guide {
      @include center;
      flex-direction: column;
      padding: 5%;
      h1 {
        font-size: 28px;
        @include font-reg;
        margin-bottom: 3%;
        margin-top: 6%;
      }
      .subtitle {
        @include font-reg;
        color: darkgrey;
        font-size: 20px;
        justify-self: flex-start;
        width: 100%;
      }
      img,
      video {
        width: 100%;
      }
      video {
        border: lightgrey 1px solid;
      }
      .img-descriptions,
      .vid-descriptions {
        font-size: 7px;
        width: 100%;
        justify-self: flex-start;
        color: grey;
      }
    }
    .lessons_learned {
      margin-top: 6%;
      @include center;
      flex-direction: column;
      h1 {
        font-size: 28px;
        @include font-reg;
        margin-bottom: 3%;
        margin-top: 6%;
      }
    }
    .comparison-container {
      img {
        border: lightgrey solid 1px;
      }
    }
    .project_links {
      @include center;
      flex-direction: column;
      padding: 5%;
      margin-top: 6%;
      margin-bottom: 10%;
      h1 {
        font-size: 28px;
        @include font-reg;
        margin-bottom: 3%;
        margin-top: 6%;
      }
      a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        color: grey;
        :hover {
          color: black;
        }
        p {
          font-size: 20px !important;
          text-align: center;
          width: 100%;
        }
      }
    }
    .bottom-nav {
      border-top: 1px solid black;
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 8%;
      .top-button,
      .prev-button,
      .next-button {
        cursor: pointer;
        text-decoration: none;
        background: transparent;
        border: none;
        color: black;
        outline: none;
        :hover {
          color: grey;
        }
      }
      .prev-button,
      .next-button {
        width: 20%;
        text-align: center;
      }
    }
  }
}
