@import './home';
@import './navbar';
@import './contact';
@import './projects';
@import './llcc_cm';

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $primary;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(70, 70, 70);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $secondary;
  }
